.form {
  border: 1px solid #212121;
  padding: 16px;
  margin-bottom: 20px;
  width: 300px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.submitBnt {
  display: flex;
  cursor: pointer;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.submitBnt:hover,
.submitBnt:focus {
  background-color: rgb(241, 233, 165);
  border-color: white;
}

.errorText {
  color: red;
  padding-top: 4px;
}
